# Dependencies
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Environment & database credentials
.env
**/.env
mysql_data/
**/mysql_data/

# Uploads (User avatars & post images)
uploads/*
!uploads/.gitkeep

# IDE & OS
.DS_Store
*.log
